# .env file for environment variables

# ClickUp API Key and Team ID
CLICKUP_API_KEY=
CLICKUP_TEAM_ID=
CLICKUP_LIST_ID=

# Supabase Database URL and Service Role Key
SUPABASE_URL=
SUPABASE_KEY=

# AWS Access Key ID and Secret Access Key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=